<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <div class='header'>
      <div class='logo'>
        <a href='/'><img class='logoImg'  src='images/logo2size.png' alt='Sweet N Fun'/></a>
      </div>  
      <div class='directory'>

        <form id='filterSub'>
          <input type='search' id='filter-field' name='bFilter'/>
          <input type='submit' id='filter-btn'  value='Search'/>
        </form>
        
          <div class="nav">
            <ul class="right">
              <li id='loginNav'>
                <% if (user) { %>
                  <a href="/logout"><i class="material-icons left" id='login'>trending_flat</i><span class='words'>Log Out</span></a>
                <% } else { %>
                  <a href="/auth/google"><i class="material-icons left" id='login'>vpn_key</i><span class='words'>Login with Google</span></a>
                <% } %>
                </li>
            </ul>
            <h4><a id ='navs' href='/register'>Register</a></h4>
            <h4><a id ='navs' href='/products'>Products</a></h4>
            <h4 id ='navs'>About Us</h4>
            <h4 id ='navs'>Contact Us</h4>
          </div>

          <h4 class='cartBtn' id='cartBtn' onclick="cartDisp()">Cart</h4>
      </div>
      <div class='cart' id='cart'>
      
        <section></section>
      
    </div>
    </div>

  <div class='form'>
    <form  action="/register/register" method="POST">
      <!-- server.js looks at the first word of the route, the second word looks at everything in the router -->
      <div id='inputs'>
        First Name: <input type="text" id='inputForm' name='firstName'><br/>
        Last Name: <input type="text" id='inputForm' name='lastName'><br/>
        <hr/>
        Street: <input type="text" id='inputForm' name='street'><br/>
        City: <input type="text" id='inputForm' name='city'><br/>
        Postal Code: <input type="text" id='inputForm' name='postalCode'><br/>
        <hr/>
        Email: <input type="text" id='inputForm' name='email'><br/>
      </div>
      <input type="submit" value="Register">
    </form>
  </div>

  <div class='regUsers'>
    <h4>Registered Users </h4>
    <ul>
      <% users.forEach(function(element) { %>

      <li>
        <hr/>
        <a href="/register/remove/<%= element.id %>">X</a>
        <br/>
        <!-- <button><a href="/register/edit/<%= element.id %>">Edit</a></button> -->
      <%= element.firstName %>
      <%= element.lastName %><br/>
      <%= element.street %><br/>
      <%= element.city %> 
      <%= element.postalCode %><br/>
      <%= element.email %>
      </li>

      <% }); %>

    </ul>
  </div>

  <script src='javascripts/script.js'></script>
  </body>
</html>